version: '3.8'

services:
  counterparty:
    image: criptografia/xcp-api:patch
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xcp-api
    restart: unless-stopped
    ports:
      - "4000:4000"
    volumes:
      - ./data/counterparty:/root/.local/share/counterparty
      - ./data/counterparty-cache:/root/.cache/counterparty
      - ./config/server.conf:/root/.config/counterparty/server.conf
    env_file:
      - .env
