name: Docker

on:
  release:
    types: [published]
  push:
    branches: "**"

env:
  DOCKER_REPO: counterparty/counterparty
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  Build:
    name: Build And Push Docker Image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Determine version tag
      id: version
      run: |
        if [[ ${{ github.event_name }} == 'release' ]]; then
          VERSION=v$(cat counterparty-core/counterpartycore/lib/config.py | grep '__version__ =' | awk -F '"' '{print $2}')
        elif [[ ${{ github.event_name }} == 'push' && ${{ github.ref }} == 'refs/heads/develop' ]]; then
          VERSION=develop
        else
          VERSION=${{ github.sha }}
        fi
        echo "version=$VERSION" >> $GITHUB_OUTPUT
        echo "Building version: $VERSION"

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKER_REPO }}:${{ steps.version.outputs.version }}
          ${{ github.event_name == 'release' && format('{0}:latest', env.DOCKER_REPO) || '' }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
